{% extends 'gallery/base.html' %}

{% block content %}
{{block.super}}
        <div class="jumbotron">
        <h1 styles="font-family: 'Caveat', cursive;" class="display-4">About K.O.M.O Gallery</h1>
        <p class="lead">Enjoy Photo Moments Like never before.</p>
        <hr class="my-4">
        <p>This is a Python photo gallery application based on Django Framework that allows users to view different photos that interest them, click on a single photo to expand it and also view the details of the photo and the photo details  appear on a modal within the same route as the main page, Search for different categories of photos. (e.g. Travel, Food), copy a link to the photo to share with my friends and view photos based on the location they were taken..</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://github.com/jameskomo/photo-gallery" target="_blank", role="button">Learn more</a>
        </p>
        </div>

       

{% endblock%}

